@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

.main-content {
  width: 80%;
  margin: auto;
  margin-top: 10%;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}